<!DOCTYPE html>
<html lang="pt_br">
<!-- o nunjucks deixa a gente colocar logica nos arquivos html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title  %}
        <title>DescarteCerto</title>
    {% endblock title  %}
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">

    {# criando block, ele compara os block das paginas #}
    {% block styles %}
    {% endblock styles  %}

    <link rel="stylesheet" href="/styles/responsive.css">

    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet/dist/leaflet.css"
    />
</head>

<body>

    {# conteudo #}
    <div id="{{ pageId }}">
        {% block content %}
        {% endblock content %}
    </div>

    {# modal #}
    {% block modal %}
    {% endblock modal %}

    <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="">
    </script>

    {#scripts #}
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>