#page-create-point{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-point header{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a{ color: var(--title-color); font-weight: bold; display:flex; align-items:center; }

form{
    background-color: #ffffff;
    margin: 48px auto;
    padding: 32px;
    border-radius: 6px;
    max-width: 730px;
    box-sizing: border-box;
}

form h1{ font-size: 28px; color: var(--title-color); }

form fieldset{ margin-top: 32px; border: 0; }

form legend{ margin-bottom: 24px; display:flex; align-items:center; justify-content:space-between; }

form .field{ flex:1; display:flex; flex-direction:column; margin-bottom:16px; }

form .field-group{ display:flex; gap: 16px; }

form input, form select{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 12px 16px;
    font-size: 14px;
    border-radius: 6px;
}

form label{ font-size: 13px; margin-bottom:8px; color:#333; }

form button{
    width: 220px;
    height: 44px;
    background-color: #e0e0e0;
    border-radius: 6px;
    color: #222;
    font-weight: 600;
    font-size: 14px;
    border: 0px;
    margin-top: 24px;
}

.items-grid{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 12px }

.items-grid li{
    background-color: #f8f8f8;
    list-style: none;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    height: 140px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.items-grid li span{ margin-top:8px; color:#333; }

.items-grid li.selected{ background: #efefef; border-color: #cfcfcf; }

.items-grid li img, .items-grid li span{ pointer-events: none; }